
<style>
  .toolbar{
    color:red;
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  
<h1>BienVenu a {{title}}</h1>
<hr>
</div>


  <ul>
    <li>Nom: {{ personne.nom }}</li>
    <li>Prenom: {{ personne.prenom}}</li>
  </ul>
  <hr>
  {{personne | json}}
  <hr>
  <ul>
    <li> {{tab[0]}} </li>
    <li> {{tab[1]}} </li>
    <li> {{tab[2]}} </li>
    <li> {{tab[3]}} </li>
  </ul>
  <hr>
  <p>{{ direBonjour() }}</p>
  <hr>
  <p>Afficher valeur <input [value] = 'valeur1'/></p>

  <div>

    <input type="button" value="Clique" (click) = "AfficherAlert()"/>

    <br/>
    <br/>    
    <input type="button" value="Souris event" (mouseenter)="AfficherAlert()"/> 
  <hr>


  <ul>
    <li *ngIf="tab2[0]%2 !=0 ; else sinon">
      {{ tab2[0] }} est impaire
    </li>

    <ng-template #sinon>
      <li>
        {{tab2[0]}} est paire
      </li>
    </ng-template>




  </ul>

      <hr>
   <ul>
    <li *ngFor="let elt of tab3">
      {{ elt }}
    </li>
   </ul>


   <ul>
    <li *ngFor="let elt of tab3 ; let i=index">
      {{ i }} : {{ elt }}
    </li>
   </ul>


   <ul>
    <li *ngFor="let elt of tab3 ; let i=index; let isFirst= first">
      {{ i }} : {{ elt }} : {{ isFirst }}
    </li>
   </ul>


   <hr>

   <ul>
    <ng-container *ngFor = "let elt of moyennes">
    <ng-container [ngSwitch]="true">
      <li *ngSwitchCase="elt>=0 && elt<10">
        Non valide : échec
      </li>
      <li *ngSwitchCase="elt>=10 && elt<12">
        Valide : Moyen
      </li>
      <li *ngSwitchCase="elt>=12 && elt<14">
        Valide : Assez bien
      </li>
      <li *ngSwitchCase="elt>=14 && elt<16">
        Valide : Bien
      </li>
      <li *ngSwitchDefault>
        Valide : Trés Bien
      </li>

    </ng-container>
    </ng-container>
   </ul>


   <hr>


   <div>
      <h3>Directives d'attribut</h3>
      <span [class.red]="true">Attribut prend la couleur rouge</span><br>
      <span [ngClass]="{'blue':true}">Attribut Change coleur en utilisant NgClass</span> <br/>
      <span [ngStyle]="{'font-size':'14px', 'color': 'green'}">Attribut change style en utilisant Ngstyle </span>
      <br/><br/>
      <span [class.cyan]="AfficheColor">Attribut prend la couleur en utilisant la variable afficheColor</span><br />
      <span [ngClass]="{'brown' :AfficheColor}">Attribut Change coleur en utilisant NgClass</span> <br />
      <input type="button" value="Changer Couleur" (click)="changeColor()"/>
      <br /><br />
      <span [class.cyan]="AfficheColor">Attribut change couleur via la variable afficheColor </span> <br>
      <span [ngClass]="{'cyan':AfficheColor, 'red' : !AfficheColor}">Attribut change coleur en utilisant Ngclass </span><br />
      <br/>
    </div>

    <hr>
    
    <h1 [class.red]="true">Démonstration des pipes basiques</h1>
    <h2 [class.blue]="true">Pipes Date</h2>
    <div [ngStyle]="{'text-size':'14px', 'color':'green'}">
      Date Complet: {{ dateAujourd }}<br/>
      Short Date : {{ dateAujourd | date: 'shortDate'}}<br>
      Medium Date: {{ dateAujourd | date:'mediumDate'}}<br>
      Full Date: {{dateAujourd | date;'fullDate'}<br>}
      Time : {{dateAujourd | date:'HH:MM'}}<br>
      Time : {{dateAujourd | date:'hh:mm:ss a'}}<br>
      Time : {{dateAujourd | date:'hh:mm:ss p'}}<br>
    </div>

    <h2 [class.blue]="true">Pipes Number</h2>
    <div [ngStyle]="{'text-size':'14px', 'color':'green'}" >

      Nombre non-formaté : {{nombre}}<br/>
      2 nombres Decimales après virgule : {{nombre |number:'2.2-2'}}

    </div>

    <h2 [class.blue]="true">Pipes Devise</h2>
    <div [ngStyle]="{'text-size':'14px', 'color':'green'}" >

      Nombre non-formaté : {{nombre}}<br/>
      USD Doller($) : {{nombre}}<br/>
      USD Doller : {{nombre |currency:'USD':false}}<br/>

    </div>


    <h2 [class.blue]="true">Pipes Chaîne de caractères</h2>
    <div [ngStyle]="{'text-size':'14px', 'color':'green'}" >
      message brute: {{message}}<br>
      Lettres en Majuscule : {{message | uppercase}}<br>
      Lettres en miniscule : {{message | lowercase}}<br>
    </div>


    <h2 [class.blue]="true">Pipes Pourcentage</h2>
    <div [ngStyle]="{'text-size':'14px', 'color':'green'}" >
      2 Place Formatting : {{nombre | percent : '.2'}}<br>
    </div>

    <hr>
    <div>
      <h1>Angular: Exemple de routage et navigation</h1>
      <app-home></app-home>
    </div>





</div>
  <app-home></app-home>
<app-page1></app-page1>


<router-outlet></router-outlet>
